/*start couples pop-up*/

.couples-popup-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #d4c1c166;
    z-index: 1000;
    overflow-y: scroll;
    cursor: pointer;
    display: none;
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 26px;
      color: #fff;
      
    }
}

.couples-popup-husband{
      display: block;
      position: fixed;
      top: 3%;
      margin-bottom: 3%;
      transform: translate(-50%, 0%);
      left: 50%;
      z-index: 1001;
      min-width: 400px;;
      z-index: 50000;
      height: 100vh;
      overflow-x: scroll;
      scroll-behavior: smooth;
      background-color: #fff;
      display: none;
        .husband{
          height: 600px;
          position: relative;
          background-size: cover;
          background-position: center center;
          background-image: url("../images/5.jpg");
          .husband-icon {
            max-width: 400px;
            left: 50%;
            margin-left: -200px;
            position: relative;
            top: 75%;
            z-index: 10;
              span i{
                font-size: 30px;
                  &:nth-child(1){
                    transform: translateX(10px);
                    color: #fff;
                  }
                  &:nth-child(2) {
                    color: var(--mymaincolor);
                  }
              }
              h2{
                margin-top: 40px;
                color: #fff;
                z-index: 5;
                position: relative;
                font-size: 29px;
              }
          }
        }
        .social {
          background-color: #fff;
          ul{
            justify-content: center;
            margin: 50px 0;
            li{
                i{
                  font-size: 30px;
                  margin: 5px;
                  border-radius: 50%;
                  cursor: pointer;
                }
                > a{
                  color: #525e6b!important;
                }
                i.fa-facebook:hover{
                  color: #406ca2;
                }
                i.fa-youtube:hover{
                  color: #dc3545;
                }
                i.fa-twitter:hover{
                  color: cadetblue;
                }
            }


          }
            
          .husband-memory img
          {
            max-width: 100%;
          }
        }
}
.couples-popup-wife{
  display: block;
  position: fixed;
  top: 3%;
  margin-bottom: 3%;
  transform: translate(-50%, 0%);
  left: 50%;
  z-index: 1001;
  min-width: 400px;;
  z-index: 50000;
  height: 100vh;
  overflow-x: scroll;
  scroll-behavior: smooth;
  background-color: #fff;
  display: none;
    .wife{
      height: 600px;
      position: relative;
      background-size: cover;
      background-position: center center;
      background-image: url("../images/5.jpg");
      .wife-icon {
        max-width: 400px;
        left: 50%;
        margin-left: -200px;
        position: relative;
        top: 75%;
        z-index: 10;
          span i{
            font-size: 30px;
              &:nth-child(1){
                transform: translateX(10px);
                color: #fff;
              }
              &:nth-child(2) {
                color: var(--mymaincolor);
              }
          }
          h2{
            margin-top: 40px;
            color: #fff;
            z-index: 5;
            position: relative;
            font-size: 29px;
          }
      }
    }
    .social {
      background-color: #fff;
        div.lists ul{
          justify-content: center;
          margin: 50px 0;
            li{
              i{
                font-size: 30px;
                margin: 5px;
                border-radius: 50%;
                cursor: pointer;
              }
              > a{
                color: #525e6b!important;
              }
              i.fa-facebook:hover{
                color: #406ca2;
              }
              i.fa-youtube:hover{
                color: #dc3545;
              }
              i.fa-twitter:hover{
                color: cadetblue;
              }
          }
  
  
        }
        
      .wife-memory img
      {
        max-width: 100%;
      }
    }
}

  