/*start one img*/

.one-img {
    background-image: url("/dist/images/1.jpg");
    background-position: 57% 50%;
}
.two-img {
    background-image: url("/dist/images/two.jpg");
}
.three-img {
    background-image: url("/dist/images/aftergallery.jpg");
}

.four-img {
    background-image: url("/dist/images/four.jpg");
}
.between-img {
    background-image: url("/dist/images/between.jpg");
}
.contact-us {
    background-image: url("/dist/images/bg.jpg");
}