/*start thanks*/
.thanks {
  padding-top: 200px;
  position: relative;
  background-image: url("../images/thanks.jpg");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden;
  height: 500px;
}
.thanks .textinfo span {
  display: block;
  position: relative;
  top: -50px;
  margin-left: -50px;
}
.thanks .textinfo span i {
  font-size: 50px;
}
.thanks .textinfo span i:nth-child(1) {
  transform: translateX(10px);
  color: #fff;
}
.thanks .textinfo span i:nth-child(2) {
  color: var(--mymaincolor);
}
@media (max-width: 767px) {
  .thanks {
    background-position: 34% 70%;
  }
}

/*ends thanks*/