<!--start navbar-->
nav.mynav
    div.row
        div.col.col-lg-2.brand
            h4 A
             span
              i.fas.fa-heart 
              |A
        ul.list-unstyled.links.row
            li
                a(class="active" href="#" data-scroll="#home") Home
            li
                a(href="#couple" data-scroll="#couple") Couple
            li 
                a(href="#date" data-scroll="#date") Date
            li
                a(href="#place" data-scroll="#place") place
            li  
                a(href="#attending" data-scroll="#attending") attending
            li  
                a(href="#timeline" data-scroll="#timeline") timeline
            li  
                a(href="#dagalleryte" data-scroll="#gallery") gallery
            li  
                a(href="#moreinfo" data-scroll="#moreinfo") moreinfo                                                                 
    div(class="toggle open" id="btntoggle")
        div
        div
        div
<!--end navbar-->