<!--    start couples pop up-->
div.couples-popup-overlay
    p.myp  loading ....
div.couples-popup-husband 
    div.husband
        div.myoverlay
        div.husband-icon.text-center
            span.wedding-span
                i.fas.fa-heart
                i.fas.fa-heart
            h2.h1 AHMED ELWAKIL
    div.social.text-center
        div.container
            div.lists
                ul.list-unstyled.row
                    li 
                     a(href="wwww.google.com")
                      i.fab.fa-facebook
                    li 
                      a(href="wwww.google.com")
                       i.fab.fa-youtube
                    li 
                      a(href="wwww.google.com")
                       i.fab.fa-twitter                                       
                p.myp It start in this beautiful New York City. We met in a small restaurant and keep contact from that night. A happy chatting always with us every day and every night. One day we decided to met again at that restaurant. It was our first date, a date that we will never forget it, a date that freeze everything, a very nervous date, with a full of happiness It start in this beautiful New York City.                
            div.husband-memory
                img(src="images/5.jpg")
                p.myp It start in this beautiful New York City. We met in a small restaurant and keep contact from that night. A happy chatting always with us every day and every night. One day we decided to met again at that restaurant. It was our first date, a date that we will never forget it, a date that freeze everything, a very nervous date, with a full of happiness It start in this beautiful New York City.
div.couples-popup-wife 
    div.wife
        div.myoverlay
        div.wife-icon.text-center
            span.wedding-span
                i.fas.fa-heart
                i.fas.fa-heart
            h2.h1 AYA MEDHAT
    div.social.text-center
        div.container
            div.lists
                ul.list-unstyled.row
                    li 
                     a(href="wwww.google.com")
                      i.fab.fa-facebook
                    li 
                      a(href="wwww.google.com")
                       i.fab.fa-youtube
                    li 
                      a(href="wwww.google.com")
                       i.fab.fa-twitter                                      
                p.myp It start in this beautiful New York City. We met in a small restaurant and keep contact from that night. A happy chatting always with us every day and every night. One day we decided to met again at that restaurant. It was our first date, a date that we will never forget it, a date that freeze everything, a very nervous date, with a full of happiness It start in this beautiful New York City.                
            div.wife-memory
                img(src="images/5.jpg")
                p.myp It start in this beautiful New York City. We met in a small restaurant and keep contact from that night. A happy chatting always with us every day and every night. One day we decided to met again at that restaurant. It was our first date, a date that we will never forget it, a date that freeze everything, a very nervous date, with a full of happiness It start in this beautiful New York City.                
