meta(charset="utf-8" )
meta(name="Description" content="weeding koky and ahmed")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(name="theme-color" content="#f08080")