  @media (max-width: 767px) {
    .attending {
      background-position: 30% 70%;
        .textinfo p {
          font-size: 18px;
          color: #fff;
          width: 80%;
          margin: auto;
        }
    }

  }