@media (max-width: 567px) {
    .our-date{
        .containe{
             h1{
                font-size: 50px;
                letter-spacing: 7px;
             }
        }
    }
    .place-date .container .place-info h1 {
      font-size: 50px;
      letter-spacing: 7px;
    }
  }