<!--      start couple-->
div(class="couple startblock" id="couple")
    div.container.text-center
        h2.h1
            span.myspan Happy
            |Couple
        p.myp It start in this beautiful New York City. We met in a small restaurant and keep contact from that night. A happy chatting always with us every day and every night. One day we decided to met again at that restaurant. It was our first date, a date that we will never forget it, a date that freeze everything, a very nervous date, with a full of happiness It start in this beautiful New York City.
        div.row.images.text-center
            div.col-md-5.first-couple
                img(src="images/6.jpg" alt="ha")
                a(class="mybtn ahmed" href="#") AHMED
            div.col-md-5.second-couple
               img(src="images/7.jpg" alt="ha")
               a(class="mybtn koky" href="#") KOKY