<!--      start date-->
div(class="our-date text-center startblock" id="date")
    div.container
        div.date-info.text-center
           h2.h1 on Sep 
            span.myspan 01/2019
           p.myp Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut massa risus, luctus vel tortor nec, sodales ullamcorper sapien. Aliquam sodales elit elit, id molestie augue vulputate ac. Phasellus iaculis mattis nisl eu vehicula. In tincidunt facilisis convallis. Fuscemolestie viverra nequ Aliquam sodales elit elit, id molestie augue vulputate ac. Phasellus iaculis mattise
        ul.list-unstyled.row.text-center
             -var times = ["Weeks" , "Days" , "Hours" ,"Minutes" ,"Seconds"]
                 each val in times
                    li.col
                        h1 0
                        h4 #{val}

