<!--start gallery-->
div(class="gallery text-center startblock")
    div.container
        h2.h1 Our 
            span.myspan Gallery
        p.myp It start in this beautiful New York City. We met in a small restaurant and keep contact from that night. A happy chatting always with us every day and every night. One day we decided to met again at that restaurant. It was our first date, a date that we will never forget it, a date that freeze everything, a very nervous date, with a full of happiness It start in this beautiful New York City.
        div(class="gallery-box" id="gallery")
            div.row
                - for(var i = 0; i < 9; i++) {
                    div.col-xs-12.col-md-6.col-lg-4          
                         img(src="images/box11.jpg" alt="ha")            
                         i.fa.fa-search-plus.fa-lg.search
                         -}
