<!--start more info  -->
div(class="more-info text-center startblock" id="moreinfo")
    div.container
        h2.h1 More 
            span.myspan Info
        p.myp It start in this beautiful New York City. We met in a small restaurant and keep contact from that night. A happy chatting always with us every day and every night. One day we decided to met again at that restaurant. It was our first date, a date that we will never forget it, a date that freeze everything, a very nervous date, with a full of happiness It start in this beautiful New York City.
        div.info-content.row
            each key,val in {CHatting:"fa fa-comments fa-3x",Schedule:"fa fa-umbrella fa-3x",Trruck:"fa fa-truck fa-3x",Party:"fa fa-music fa-3x",Travel:"fa fa-plane fa-3x",Dance:"fa fa-users fa-3x"}                  
                div.col-lg-4.col-xs-12
                    i(class = key)
                    a(href="#")  #{val}
                    p.myp It start in this beautiful New York City. We met in a small restaurant and keep contact from that night.chatting always with us every day and every night. 


