<!-- start olace-date-->
div(class="place-date text-center" id="place")
    div.container.startblock
        div.place-info.text-center
            h2.h1 At 
                span.myspan Tanta
            p.myp It start in this beautiful New York City. We met in a small restaurant and keep contact from that night. A happy chatting always with us every day and every night. One day we decided to met again at that restaurant. It was our first date, a date that we will never forget it, a date that freeze everything, a very nervous date, with a full of happiness It start in this beautiful New York City.