<!--start thanks -->
    div(class="thanks" id="home")
        div.myoverlay
            div.textinfo.text-center
                span
                    i.fas.fa-heart
                    i.fas.fa-heart

