<!-- strat timeline-->
div(class="timeline startblock" id="timeline")
    div.container
        div.our-story.text-center
            h2.h1 Our 
                span.myspan Story
            p.myp It start in this beautiful New York City. We met in a small restaurant and keep contact from that night. A happy chatting always with us every day and every night. One day we decided to met again at that restaurant. It was our first date, a date that we will never forget it, a date that freeze everything, a very nervous date, with a full of happiness It start in this beautiful New York City.

        div.timeline-groups
            div.timeline-content
                div.timeline-right-left.row.odd
                    div.timeline-img.col.col-lg-5.col-xs-12.first
                        div.leftside1
                            img(src="images/t1.png" alt="ha")
                            i.fa.fa-search-plus.fa-lg.search
                    div.date.col.col-lg-2.col-xs-12
                        div
                            i.fas.fa-chevron-right
                            span 12
                            span0 3.01
                            i.fas.fa-chevron-left
                    div.timeline-text.col.col-lg-5.col-xs-12.two
                        div.rightside1
                             h4 First Story Met
                             p.myp start in this beautiful New York City. We met in a small restaurant and keep contact from that night. A happy chatting always with us every day and every night. One day we decided to met again at that restaurant. It was our first date, a date that we will never forget it,
            div.timeline-content
                div.timeline-right-left.row.even
                    div.timeline-img.col.col-lg-5.col-col-md-12
                        div.rightside2
                            img(src="images/timeline3.jpg" alt="ha")
                            i.fa.fa-search-plus.fa-lg.search
                    div.date.col.col-lg-2
                        div
                            i.fas.fa-chevron-right
                            span 12
                            span0 3.01
                            i.fas.fa-chevron-left
                    div.timeline-text.col.col-lg-5.col-md-12
                        div.leftside2
                             h4 First Story Met
                             p.myp start in this beautiful New York City. We met in a small restaurant and keep contact from that night. A happy chatting always with us every day and every night. One day we decided to met again at that restaurant. It was our first date, a date that we will never forget it,                        
            div.timeline-content
                div.timeline-right-left.row.odd
                    div.timeline-img.col.col-lg-5.col-md-12
                        div.leftside3
                            img(src="images/timeline4.jpg" alt="ha")
                            i.fa.fa-search-plus.fa-lg.search
                    div.date.col.col-lg-2
                        div
                            i.fas.fa-chevron-right
                            span 12
                            span0 3.01
                            i.fas.fa-chevron-left
                    div.timeline-text.col.col-lg-5.col-md-12
                        div.rightside3
                             h4 First Story Met
                             p.myp start in this beautiful New York City. We met in a small restaurant and keep contact from that night. A happy chatting always with us every day and every night. One day we decided to met again at that restaurant. It was our first date, a date that we will never forget it,
            div.timeline-content
                div.timeline-right-left.row.even
                    div.timeline-img.col.col-lg-5.col-sm-12.col-xs-12
                        div.rightside4
                            img(src="images/time1.jpg" alt="ha")
                            i.fa.fa-search-plus.fa-lg.search
                    div.date.col.col-lg-2.col-sm-12
                        div
                            i.fas.fa-chevron-right
                            span 12
                            span0 3.01
                            i.fas.fa-chevron-left
                    div.timeline-text.col.col-lg-5.col-sm-12.col-xs-12
                        div.leftside4
                            h4 First Story Met
                            p.myp start in this beautiful New York City. We met in a small restaurant and keep contact from that night. A happy chatting always with us every day and every night. One day we decided to met again at that restaurant. It was our first date, a date that we will never forget it, 
        div.text-center.timeline-footer
            h2.h1 And today... 
                span.myspan We are Getting Married

