<!-- start wedding-gallery -->
div(class="wedding-gallery" id="home")
    div.myoverlay
    div.textinfo.text-center
        span.wedding-span
          i.fas.fa-heart
          i.fas.fa-heart
        h2.h1 AHMED & AYA
        h4 -we will stay together-
    div.arrow
        i.fa.fa-chevron-down
