*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
  
body {
    scroll-behavior: smooth;
    background-color: #fafafa;
    overflow-x: hidden;
    overflow-y: hidden;
    a {
        text-decoration: none;
        color: var(--mymaincolor);
      }
}
