include pug/variables/variables.pug
<!DOCTYPE html>
html(lang="en")
    head
        include pug/meta/meta.pug
        include pug/links/links.pug
        title #{pagetitile}
    body
        



        include pug/scripts/script.pug
html        