include pug/variables/variables.pug
<!DOCTYPE html>
html(lang="en")
    head
        include pug/meta/meta.pug
        include pug/links/links.pug
        title #{pagetitile}
    body
        // start settings
        include pug/settings/settings.pug
        include pug/sections/wedding.pug
        include pug/navbar/navbar.pug
        include pug/sections/couples.pug
        include pug/popup/couplePopup.pug
        include pug/sections/oneimage.pug
        include pug/sections/date.pug
        include pug/sections/secondimage.pug
        include pug/sections/placedate.pug
        include pug/sections/attending.pug
        include pug/sections/timeline.pug
        include pug/sections/threeimage.pug
        include pug/sections/gallery.pug
        include pug/sections/fourthimage.pug
        include pug/sections/moreinfo.pug
        include pug/sections/thanks.pug
        include pug/popup/scrollToUp.pug
        include pug/popup/loadingPopup.pug

        



        include pug/scripts/script.pug       